	<div class="section " id="section1">
		<div class="about-box">
			<h2 class="bentham-font">LOVE CAN BE A <span class="red"><em>DANGEROUS</em></span> THING...</h2>
			<div class="synopsis">
				<p class="even-darker-gray archivo-font">Brave Williams (Alexander C. Mulzac) is a 28 year old, successful real estate mogul in the making. His hard work is about to pay off big-time, as a philanthropic deal he’s been working on with his best friend and attorney, Jay, is slated to make millions, and thrust him into notoriety. There’s only one thing missing from Brave’s life: that special someone to share it all with. At the urging of Jay, Brave sets his sights to find 'Ms. Right,' but finds <em>much</em> more than he bargains for...
				<br /><br />
				<em>Where Hearts Lie</em> is a Brooklyn-based drama/thriller inspired by true events, and explores the enigma of “good men,” the insecurities that can break down relationships, the stigmas of mental disorders, and single fatherhood.
				<br /><br />
				With a natural ability to draw the attention of his audience, Tony Lindsay served as the director, executive producer and writer on <em>Where Hearts Lie</em>, shooting over the course of 2 months with a cast and crew of native New Yorkers, many from East New York, Brooklyn. Directing has allowed Tony to take his creative canvas, and build true-to-life stories that will not only entertain, but also shock, and teach, in a manner that is not only relatable, but gripping, to all audiences.
				</p>
				
			</div>
		</div>
		<div class="arrows-link">
		<a href="#cast">
			<svg class="arrows">
			<path d="M0 0 L15 17 L30 0"></path>
		</svg>
		</a>
		</div>
	</div>