<div>
    <div class="col-xs-12">
      <h2 class="text-center dark-gray pd-md">Buy DVD and Download</h2>

      <a class="col-xs-2 pull-left" href="http://www.bestbuy.com/site/where-hearts-lie-dvd/31048219.p?id=3565795&skuId=31048219">
        <img src="assets/bestbuy.svg">
      </a>

      <a class="col-xs-2 pull-left" href="http://www.vudu.com/movies/#!content/769064/Where-Hearts-Lie">
        <img src="assets/vudu.png">
      </a>

<!--  <a class="col-xs-2 pull-left" href="http://www.target.com/p/where-hearts-lie/-/A-51098770">
        <img src="assets/target.jpg">
      </a> -->

      <a class="col-xs-2 pull-left" href="http://www.overstock.com/Books-Movies-Music-Games/Where-Hearts-Lie-DVD/11625123/product.html">
        <img src="assets/overstock.png">
      </a>

      <a class="col-xs-2 pull-left" href="http://www.moviesunlimited.com/where-hearts-lie/851410005518">
        <img src="assets/movies-unlimited.gif">
      </a>

      <a class="col-xs-2 pull-left" href="https://play.google.com/store/movies/details/Where_Hearts_Lie?id=uePKj53XxUE&hl=en">
        <img src="assets/google-play.png">
      </a>

      <a class="col-xs-2 pull-left" href="https://itunes.apple.com/us/movie/where-hearts-lie/id1109493104">
        <img src="assets/itunes.jpg">
      </a>

      <div class="col-xs-12">
        <a class="col-xs-2 pull-left" href="https://www.amazon.com/dp/B01GKTHJK8/ref=imdbref_tt_wbr_aiv/189-1328934-3220643?_encoding=UTF8&tag=imdbtag_tt_wbr_aiv-20">
          <img src="assets/amazon.png">
        </a>
      </div>

    </div>

    <div class="col-xs-12">
      <h2 class="text-center pd-md dark-gray">Available for rental</h2>

      <a class="col-xs-2 pull-left" href="http://tvgo.xfinity.com/watch/Where-Hearts-Lie/5690590299562147112/movies#filter=online">
        <p class="text-center dark-gray size-up">Comcast</p>
      </a>

      <a class="col-xs-2 pull-left" href="https://www.amazon.com/dp/B01GKTHJK8/ref=imdbref_tt_wbr_aiv/189-1328934-3220643?_encoding=UTF8&tag=imdbtag_tt_wbr_aiv-20">
        <img src="assets/amazon.png">
      </a>

      <a class="col-xs-2 pull-left" href="https://www.sling.com/blockbuster">
        <img src="assets/sling-tv.png">
      </a>

      <a class="col-xs-2 pull-left" href="https://play.google.com/store/movies/details/Where_Hearts_Lie?id=uePKj53XxUE ">
        <img src="assets/google-play.png">
      </a>

      <a class="col-xs-2 pull-left" href="https://itunes.apple.com/us/movie/where-hearts-lie/id1109493104">
        <img src="assets/itunes.jpg">
      </a>

      <a class="col-xs-2 pull-left" href="https://www.microsoft.com/en-us/store/movies/where-hearts-lie/8d6kgx0lxbnm">
        <img src="assets/microsoft.png">
      </a>

      <!-- Supposed to be midwest tapes -->
      <!-- <a class="col-xs-6 pd-md-t" href="https://store.playstation.com/#!/en-us/movies/where-hearts-lie/cid=UV0033-NPVB23919_CN-0000000000311524?smcid=pdc:us-en:pdc-explore-ps4-overview:browse-the-store:null:null:sony:us:pdp:playstation:gwt_pdp_explore_instant-gaming:playstation_4:ps4">
        <img class="badge-lg" src="assets/sony-psn.png">
      </a> -->

    </div>

    <div class="video-on-demand col-xs-12 pd-md">
        <!-- <h2 class="text-center pd-md dark-gray">Also on Video On Demand</h2> -->

      <a class="col-xs-4 pull-left" href="https://store.playstation.com/#!/en-us/movies/where-hearts-lie/cid=UV0033-NPVB23919_CN-0000000000311524?smcid=pdc:us-en:pdc-explore-ps4-overview:browse-the-store:null:null:sony:us:pdp:playstation:gwt_pdp_explore_instant-gaming:playstation_4:ps4">
        <img src="assets/sony-psn.png">
      </a>

      <!-- <div class="col-xs-3 pull-left">
        <img src="assets/dish-network.png">
      </div>

      <div class="col-xs-3 pull-left" >
        <img src="assets/verizon.png">
      </div> -->

    </div>
</div>
