<div class="section " id="section2">
	<div class="cast">
		<div class="slider">
			<div class="slide">
				<div class="intro">
					<img class="img-responsive" src="assets/cast-mulzac.jpg" alt="Alexander C. Mulzac as Brave" />
					<h3 class="text-center">Alexander C. Mulzac<br /><span class="small-size white">as Brave</span></h3>
				</div>
			</div>

			<div class="slide">
				<div class="intro">
					<img class="img-responsive" src="assets/cast-sanderson.jpg" alt="Erin Sanderson as Nikki">
					<h3 class="text-center">Erin Sanderson<br /><span class="small-size white">as Nikki</span></h3>
				</div>
			</div>
			<div class="slide">
				<div class="intro">
					<img class="img-responsive" src="assets/cast-kirby.jpg" alt="Mizan Kirby as Mrs. Sheri">
					<h3 class="text-center">Mizan Kirby<br /><span class="small-size white">as Mrs. Sheri</span></h3>
				</div>
			</div>
			<div class="slide">
				<div class="intro">
					<img class="img-responsive" src="assets/cast-morales.jpg" alt="Luis Morales as Jay">
					<h3 class="text-center">Luis Morales<br /><span class="small-size white">as Jay</span></h3>
				</div>
			</div>
			<div class="slide">
				<div class="intro">
					<img class="img-responsive" src="assets/cast-powell.jpg" alt="Clifton Powell as Carl">
					<h3 class="text-center">Clifton Powell<br /><span class="small-size white">as Carl</span></h3>
				</div>
			</div>
			<div class="slide">
				<div class="intro">
					<img class="img-responsive" src="assets/cast-yoba.jpg" alt="Malik Yoba as Obnoxious Attorney">
					<h3 class="text-center">Malik Yoba<br /><span class="small-size white">as Obnoxious Attorney</span></h3>
				</div>
			</div>
			<div class="slide">
				<div class="intro">
					<img class="img-responsive" src="assets/cast-hicks.jpg" alt="Taral Hicks as Shante">
					<h3 class="text-center">Taral Hicks<br /><span class="small-size white">as Shante</span></h3>
				</div>
			</div>
		</div>
		<div class="thumbnail-gallery">
			<div class="row">
				<div class="col-sm-3">
					<div class="caption">
						<h3 class="text-center">Alexander C. Mulzac<br /><span class="small-size white">as Brave</span></h3>
					</div>

					<div class="thumbnail">
						<img src="assets/cast-mulzac.jpg" alt="Alexander C. Mulzac as Brave" />
					</div>
				</div>

				<div class="col-sm-3">
					<div class="caption">
						<h3 class="text-center">Erin Sanderson<br /><span class="small-size white">as Nikki</span></h3>
					</div>

					<div class="thumbnail">
						<img src="assets/cast-sanderson.jpg" alt="Erin Sanderson as Nikki">
					</div>
				</div>

				<div class="col-sm-3">
					<div class="caption">
						<h3 class="text-center">Mizan Kirby<br /><span class="small-size white">as Mrs. Sheri</span></h3>
					</div>

					<div class="thumbnail">
						<img src="assets/cast-kirby.jpg" alt="Mizan Kirby as Mrs. Sheri">
					</div>
				</div>

				<div class="col-sm-3">
					<div class="caption">
						<h3 class="text-center">Luis Morales<br /><span class="small-size white">as Jay</span></h3>
					</div>

					<div class="thumbnail">
						<img src="assets/cast-morales.jpg" alt="Luis Morales as Jay">
					</div>
				</div>

			</div>

			<div class="row">
				<div class="col-sm-4">
					<div class="caption">
						<h3 class="text-center">Clifton Powell<br /><span class="small-size white">as Carl</span></h3>
					</div>

					<div class="thumbnail">
						<img src="assets/cast-powell.jpg" alt="Clifton Powell as Carl">
					</div>
				</div>

				<div class="col-sm-4">
					<div class="caption">
						<h3 class="text-center">Malik Yoba<br /><span class="small-size white">as Obnoxious Attorney</span></h3>
					</div>

					<div class="thumbnail">
						<img src="assets/cast-yoba.jpg" alt="Malik Yoba as Obnoxious Attorney">
					</div>
				</div>

				<div class="col-sm-4">
					<div class="caption">
						<h3 class="text-center">Taral Hicks<br /><span class="small-size white">as Shante</span></h3>
					</div>

					<div class="thumbnail">
						<img src="assets/cast-hicks.jpg" alt="Taral Hicks as Shante">
					</div>
				</div>
				
			</div>
		</div>

	</div>	
	<a class="arrows-link" href="#videos">
		<svg class="arrows">
			<path d="M0 0 L15 17 L30 0"></path>
		</svg>
	</a>
</div>