
<div class="footer-col">
      <a href="https://www.facebook.com/WhereHeartsLieMovie2015"><img src="assets/facebook.png"></a>
      <a href="https://twitter.com/whereheartslie"><img src="assets/twitter.png"></a> 
      <a href="https://www.youtube.com/channel/UCjhnld2amLKGeURx0dRSeaA/videos"><img src="assets/youtube.png"></a>
    </div>

<footer class="site-footer">

    <div class="copyright-footer">
      <h2 class="footer-heading">COPYRIGHT &copy; {{ site.time | date: '%Y' }} {{ site.name }} LLC, ALL RIGHTS RESERVED </h2>
    </div>

</footer>
