
	<div class="section " id="section0">
			
		<div class="home-box col-xs-10-offset-1">
			<div class="contents">
				<h1 class="invisible">WHERE HEARTS LIE</h1>
				<p class="light-gray">A <span class="size-up">TONY LINDSAY</span> FILM</p>	
				<img src="assets/whl-title2.png" alt="Where Hearts Lie">
				<p class="light-gray size-up">ALEXANDER C. <span class="orange">MULZAC</span>  /  ERIN <span class="orange">SANDERSON</span>  /  MIZAN <span class="orange">KIRBY</span></p>
				<p class="light-gray size-up"><span class="dark-gray">WITH</span>  CLIFTON <span class="orange">POWELL</span>  /  MALIK <span class="orange">YOBA</span>  /  TARAL <span class="orange">HICKS</span></p>

				<button type="button" id="trailer" data-toggle="modal" data-target="#myModal">WATCH TRAILER
				</button>
				<a target="_blank" class="visibility" href="https://www.youtube.com/embed/81aD3rFkhuM">WATCH TRAILER</a>
			</div>
		</div>
		<div class="arrows-link" >
		<a href="#about">
			<svg class="arrows">
				<path d="M0 0 L15 17 L30 0"></path>
			</svg>
		</a>
		</div>
		<video preload autoplay loop muted id="myVideo">
			<source src="https://player.vimeo.com/external/140552592.hd.mp4?s=1f5ef461452b222fc48b21cca36b9c95&profile_id=113&download=1" type="video/mp4">
		</video>
	</div>




