<div class="section " id="section4">	

	<div class="gallery">
		
		<div id="slider" class="flexslider">
			<ul class="slides">
				<li>
				<img class="img-responsive" src="assets/gallery1.png" />
				</li>
				<li>
				<img class="img-responsive" src="assets/gallery2.png" />
				</li>
				<li>
				<img class="img-responsive" src="assets/gallery3.png" />
				</li>
				<li>
				<img class="img-responsive" src="assets/gallery4.png" />
				</li>
				<li>
				<img class="img-responsive" src="assets/gallery5.png" />
				</li>
			</ul>
		</div>
		<div id="carousel" class="flexslider col-xs-12">
			<ul class="slides">
				<li>
				<img src="assets/gallery1.png" />
				</li>
				<li>
				<img src="assets/gallery2.png" />
				</li>
				<li>
				<img src="assets/gallery3.png" />
				</li>
				<li>
				<img src="assets/gallery4.png" />
				</li>
				<li>
				<img src="assets/gallery5.png" />
				</li>
			</ul>
		</div>
	</div>	
	<a class="arrows-link" href="#press">
		<svg class="arrows">
			<path d="M0 0 L15 17 L30 0"></path>
		</svg>
	</a>
</div>