<div class="section " id="section5">
	<div class="press">
		<div class="big-spoon col-xs-12 pull-left">
			<h3 class="size-up even-darker-gray">PRESS RELEASES</h3>
			<a class="red archivo-font" href="assets/press-releases/where_hearts_lie_press_release.pdf"><strong>[09.27.2015] &ldquo;WHERE HEARTS LIE&rdquo; PREMIERES AT 2015 <br /> OCKTOBER FILM FESTIVAL ON OCTOBER 4th!</strong></a>
		</div>
		
		<div class="big-spoon col-xs-12 pull-right">
			<h3 class="size-up even-darker-gray"><em>WHL</em> IN THE NEWS</h3>
			<a class="red archivo-font" href="http://blogs.indiewire.com/shadowandact/trailer-indie-drama-thriller-where-hearts-lie-clifton-powell-malik-yoba-taral-hicks-20150202"><strong>&raquo; IndieWire - &ldquo;Trailer: Indie Drama/Thriller &lsquo;Where Hearts Lie&rsquo; (Clifton Powell, Malik Yoba, Taral HIcks)&rdquo;</strong></a><br />
			<a class="red archivo-font" href="http://www.canarsiecourier.com/news/2014-08-21/Other_News/Marine_Park_Filmmaker_Keeps_It_Local.html"><strong>&raquo; Canarsie Courier - &ldquo;Marine Park Filmmaker Keeps It Local&ldquo;</strong></a>
		</div>
		<div class="little-spoon col-xs-12 ">
			<a class="red size-up" href="https://www.youtube.com/watch?v=81aD3rFkhuM">LINK TO THE TRAILER &raquo;</a>
			<p class="even-darker-gray archivo-font">Watch the Trailer</p>
		</div>
		
		<div class="little-spoon col-xs-12 ">
			<a class="red size-up" href="assets/press-releases/where_hearts_lie_press_release.pdf" download>DOWNLOAD PRESS KIT &raquo;</a>
			<p class="even-darker-gray archivo-font">Get the <em>Where Hearts Lie</em> Press Kit</p>
		</div>
		
		<div class="little-spoon col-xs-12 ">
			<a class="red size-up" href="mailto:susan.bachner@gmail.com">PRESS CONTACT &raquo;</a>
			<p class="even-darker-gray archivo-font">susan.bachner@gmail.com<br />+1(516)376-8386</p>
		</div>
	</div>	
	<a class="arrows-link" href="#screenings">
		<svg class="arrows">
			<path d="M0 0 L15 17 L30 0"></path>
		</svg>
	</a>
</div>