<div class="section " id="section3">
	<div class="video_slider">
			<div class="slide">
				<div class="intro">
					<iframe src="https://www.youtube.com/embed/1tvM2xWEj3w" frameborder="0" allowfullscreen></iframe>
					<h3 class="text-center">Cast & Crew Interview</h3>
				</div>
			</div>

			<div class="slide">
				<div class="intro">
					<iframe src="https://www.youtube.com/embed/6n1cztKOX_0" frameborder="0" allowfullscreen></iframe>
					<h3 class="text-center">Extended Trailer</h3>
				</div>
			</div>
			<div class="slide">
				<div class="intro">
					<iframe src="https://www.youtube.com/embed/81aD3rFkhuM" frameborder="0" allowfullscreen></iframe>
					<h3 class="text-center">Teaser Trailer</h3>
				</div>
			</div>
		</div>
	<a class="arrows-link" href="#photos">
		<svg class="arrows">
			<path d="M0 0 L15 17 L30 0"></path>
		</svg>
	</a>
</div>