<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    {% include header.html %}
    <div id="fullpage">
          {% include home.html %}
          {% include about.html %}
          {% include cast.html %}
          {% include videos.html %}
          {% include photos.html %}
          {% include press.html %}
          {% include screenings.html %}
    </div>
    {% include footer.html %}
    <!-- Trailer Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="Trailer">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-body">
            <iframe src="https://player.vimeo.com/video/154519510" frameborder="0" allowfullscreen></iframe>
          </div>
          <div class="modal-footer">
            <button type="button" class="archivo-font btn btn-danger" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Social Media Share Modal -->
    <div class="modal fade" id="socialMedia" tabindex="-1" role="dialog" aria-labelledby="Social Media Share">
      <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
          <div class="modal-body">
            <h3 class="text-center size-up archivo-font even-darker-gray">Share this on social media!</h3>
            <div class="social-media-links">
            <a href="https://www.facebook.com/sharer/sharer.php?u=www.whereheartsliemovie.com"><img src="assets/facebook-blue.png"></a>
            <a href="https://twitter.com/home?status=Watch%20the%20trailer%20for%20Where%20Hearts%20Lie%20here%20www.whereheartsliemovie.com"><img src="assets/twitter-blue.png"></a>
            <a href="https://plus.google.com/share?url=www.whereheartsliemovie.com"><img src="assets/youtube-red.png"></a>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="archivo-font btn btn-danger" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Buy Modal -->
    <div class="modal fade" id="buy" tabindex="-1" role="dialog" aria-labelledby="Buy">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-body">
            <h2 class="text-center size-up archivo-font even-darker-gray">Buy on DVD</h2>

            <div class="col-xs-12">
                <a class="badge col-xs-4" href="http://www.bestbuy.com/site/where-hearts-lie-dvd/31048219.p?id=3565795&skuId=31048219"><img src="assets/bestbuy.svg"></a>
                <a class="badge col-xs-4" href="https://www.facebook.com/sharer/sharer.php?u=www.whereheartsliemovie.com"><img src="assets/amazon.png"></a>
                <a class="badge col-xs-4" href="https://play.google.com/store/movies/details/Where_Hearts_Lie?id=uePKj53XxUE"><img src="assets/google-play.png"></a>
                <a class="badge col-xs-4" href="https://itunes.apple.com/us/movie/where-hearts-lie/id1109493104"><img src="assets/itunes.svg"></a>
                <a class="badge col-xs-4" href="https://www.microsoft.com/en-us/store/movies/where-hearts-lie/8d6kgx0lxbnm"><img src="assets/microsoft.png"></a>
                <a class="badge col-xs-4" href="https://store.playstation.com/#!/en-us/movies/where-hearts-lie/cid=UV0033-NPVB23919_CN-0000000000311524"><img src="assets/playstation.png"></a>
                <!-- <a class="col-xs-3" href="https://www.facebook.com/sharer/sharer.php?u=www.whereheartsliemovie.com"><img src="assets/walmart.jpg"></a> -->
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="archivo-font btn btn-danger" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </body>



</html>
